<h3>Sign Up</h3>
<form class="example-form" [formGroup]="userRegistrationForm" (ngSubmit) = "submitForm()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName = "firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName = "lastName">
        </mat-form-field>

    <mat-form-field class="example-full-width">     
    <input matInput placeholder="Email" formControlName = "email" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName = "password" type="password">
      </mat-form-field>
      
      <button mat-raised-button color="primary" [disabled] = "!userRegistrationForm.valid">Primary</button>
  </form>